@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body::-webkit-scrollbar{
  width: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.18);  height: 10px;
}
body::-webkit-scrollbar-thumb{
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
}


nav{
  background: rgb(26 26 27);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(104, 104, 104, 0.16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  position: relative;
}

.profile{
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.profile-icon i{
  cursor: pointer;
  color: #ff5e62;
  font-size: 25px;
}

.profile-icon h3{
  font-size: 15px;
  letter-spacing: 1px;
}

.register{
  display: flex;
  gap: 10px;
}

.register button{
  border: none;
  outline: none;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  padding: 0.3rem 0.6rem;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  transition: all 0.2s ease-in;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

.searchbar{
  position: relative;
  display: flex;
  align-items: center;
}

.search-inp{
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  outline-width: 0;
  width: 100%;
  font-size: 17px;
  color: #fff;
  background:linear-gradient(to right, #292929, #2d2c2f);
}

.searchbar i{
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #fff;
}

.logo{
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo img,.notificationDiv img, .allfriends img{
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 100%;
  z-index: 1;
}

.notificationDiv{
  width: 300px;
  position: absolute;
  right: 100px;
  top: 48px;
  background: rgb(26 26 27);
  z-index: 99;
  height: 400px;
  padding: 20px;
  overflow-y: scroll;
}
.notificationDiv::-webkit-scrollbar{
  width: 2px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.18);  height: 10px;
}

.notificationDiv::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.18);  border-radius: 20px;
}

.notificationDiv ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notificationDiv ul li{
  background: #141414;
  padding: 10px 0px;
  list-style: none;
    display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #f3efef;
  
}
.notificationDiv ul li i{
  cursor: pointer;
}

.notificationDiv ul li a{
  font-size: 15px;
  text-decoration: none;
}

.logo .userNameAcoount{
  font-size: 15px;
}

.home-body{
  display: flex;
  min-height: calc(100vh - 57px);
}

.posts{
  width: 88%;
  background: rgb(3 3 3);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.9px);
-webkit-backdrop-filter: blur(8.9px);
padding: 20px 0px;
}


.news-api{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(200,200px);
  overflow-x: scroll;
  padding: 30px 20px;
}

.news-api::-webkit-scrollbar{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.18);  height: 10px;
}
.news-api::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.18);  border-radius: 20px;
}

.new{
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.18);
}

.new a {
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}

.new img{
  width: 100%;
}

.posts-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
}

.blog_post {
  background: rgba(255, 255, 255, 0.01);
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 40%;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 0px 20px;
  height: fit-content;
}


.container_copy {
  padding: 6rem 4rem 5rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userPost{
  display: flex;
  justify-content: space-between;
}

.img_pod {
  height: 110px;
  width: 110px;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  z-index: 10;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: absolute;
  right: -10%;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-img {
  height: 6.3rem;
  width: 6.3rem;
  position: relative;
  border-radius: 100%;
  z-index: 1;
}


.post-img{
  width: 100%;
  object-fit: cover;
}

a {
  margin: 0 0 0.5rem 0;
  color: #f6f6f6ea;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
}
h3 {
  margin: 0 0 0.5rem 0;
  color: #f6f6f6ea;
  font-size: 1rem;
  font-weight: 600;
}

a:hover{
  color: blue;
}

h1 {
  margin: 0.5rem 0 1rem 0;
  font-size: 1.7rem;
  letter-spacing: 0.5px;
  color: #fffcfc;
}

.post-content {
  font-size: 1rem;
  line-height: 1.45;
  color: #f3efef;
}



.inputs-post{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}

.votes{
  display: flex;
  align-items: center;
  gap: 10px;
}

.votes button,.CreateSubreddit{
    border: none;
  outline: none;
  background: black;
  padding: 0.5rem 1rem;
  color: white;
  transition: all 0.2s ease-in;
  text-decoration: none;
  cursor: pointer;
}

.votes p{
  font-size: 16px;
  color: #f3efef;
}

.commentsBtnPost{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.comments-nums{
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: #b8448d;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
}

.commentsBtnPost button{
  border: none;
  outline: none;
  background: linear-gradient(90deg, #6678ff, #ff5ec4);
  padding: 0.5rem 1rem;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  transition: all 0.2s ease-in;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

.comments{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 30px 20px;
  /* background-cololr: rgba(0, 0, 0, 1); */
  z-index: 99;
  visibility: visible;
  position: relative;
}

.commentDivParent{
  overflow-y: scroll;
  padding: 20px 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commentDivParent::-webkit-scrollbar{
  width: 0px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.18);  height: 10px;
}
.commentDivParent::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.18);  border-radius: 20px;
}
.comment{
  padding: 20px 10px;
  background:rgba(45, 44, 44, 0.18) ;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
}

.comment-head{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
  border-right: 1px solid #2d2c2f;
}

.comment-time {
  font-size: 14px;
  color: #fff;
}



.comment-head img{
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  object-fit: cover;
}

.comment-user-name{
  font-size: 17px;
  font-weight: 700;
  color: #fff;
}

.comment-user-content{
  font-size: 16px;
  color: #fff;
}

.fa-circle-xmark{
  position: absolute;
  color: #fff;
  right: 50%;
  top: 10px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.fa-circle-xmark:hover{
  color: #ff5e62;
}

.inputCommentDiv{
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputComment{
  width: 100%;
  height: 100%;
  padding: 0px 10px;
  outline-width: 0;
  font-size: 16px;
  border: none;
  background: rgba(255, 255, 255, 0.01);
  border-radius: 16px;
color: #f3efef;
}

.fa-paper-plane{
position: absolute;
top: 10px;
right: 25px;
color: #ff5e62;
font-size: 20px;
cursor: pointer;
}

.filterPosts{
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}

.selectFilter{
  background: rgba(255, 255, 255, 0.033);
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
  width: 60%;
  padding: 10px;
}



.filter-posts{
  background: rgb(26 26 27);
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-posts p{
  color: #f3efef;
  padding: 0px 20px;
  color: #f3efef5a;
}

.selectFilter select{
  padding:10px 30px;
  border: none;
  outline-width: 0;
  background: #141414;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
}

.profileDiv{
  display: grid;
  place-content: center;
  border-bottom: 1px solid #484747;
  padding: 20px 0px;
}

.profileDiv a{
  text-decoration: none;
  color: #f3efef;
  font-size: 17px;
  cursor: pointer;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
  padding: 10px 20px;
  border-radius: 10px;
  width: 140px;
  text-align: center;

}

.profileDiv a i{
  margin-right: 10px;
}


.apisDiv h2{
  padding: 10px 20px;
  color: #f3efef81;
  text-transform: uppercase;
  font-size: 12px;
}

.apis{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
}

.apis button, .subredditsForm button{
    border: none;
  outline: none;
  background: linear-gradient(90deg, #ca8b39, #ee980f);
  padding: 0.6rem 0.6rem;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  transition: all 0.2s ease-in;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

.sidebar{
  position: relative;
}

.subredditsForm{
  position: absolute;
  top: 3%;
  right: 170px;
  padding: 20px;
  display: none;
  flex-direction: column;
  gap: 10px;
  background: rgb(26 26 27);
  width: 300px;
  height: 200px;
  z-index: 1000;
}

.subredditsForm h2{
  color: #f3efef;
  text-align: center;
}

.subredditsForm input{
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  outline-width: 0;
  font-size: 17px;
  color: #fff;
  background:linear-gradient(to right, #292929, #2d2c2f);
}

.others{
  position: relative;
}

.allfriends{
  position: absolute;
  background: rgb(26 26 27);
  left: 170px;
  top: 120px;
  width: 250px;
  height: 300px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
}

.allfriends::-webkit-scrollbar{
  width: 2px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.18);  height: 10px;
}

.allfriends::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.18);  border-radius: 20px;
}


.friend{
  background: rgb(36, 36, 36);
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.friend a{
  font-size: 15px;
  text-decoration: none;
}