#main-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: #1a1a1b;
  border-radius: 5px;
}

#main-filter > select {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: black;
  color: white;
  font-weight: bold;
}

.createSub{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.createSub > input{
  background-color: #1a1a1b;
  padding: 0.8rem 1.5rem;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #fff;
}


