.createPostForm{
  display: none;
  flex-direction: column;
  padding: 0px 10px;
  
}

.createPostForm > input,.createPostForm > select{
  background-color: rgb(20, 20, 20);
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #fff;
}