<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/profile.css">
  <title>Document</title>
</head>
<body>
  <nav>
    <div class="profile">
    <div class="profile-icon">
      <i class="fa-brands fa-reddit"></i>
      <i class="fa-solid fa-arrow-down"></i>
    </div>
    </div>
    <div class="searchbar">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" class="search-inp" placeholder="search reddit">
    </div>

    <div class="userLogo">
      <img src="../../logo.png" alt="user photo">
      <h3>username</h3>
    </div>
    
  </nav>
  <main>
    <div class="sidebar">
      <div class="searchPost">
        <input type="text" placeholder="filter">
      </div>

        <ul class="feeds">
          <li><a href="#"><i class="fa-solid fa-house"></i>home</a></li>
          <li><a href="#"><i class="fa-solid fa-fire"></i>Popular</a></li>
          <li><a href="#"><i class="fa-solid fa-reply-all"></i>All</a></li>
        </ul>

        <ul class="others">
          <li><a href="#"><i class="fa-brands fa-reddit"></i>user Settings</a></li>
          <li><a href="#"><i class="fa-solid fa-plus"></i>create post</a></li>
        </ul>
  
    </div>

    <div class="profileUser">
      <div class="prfileHeader">

        <div class="wallpaper">
          <img src="../../logo.png" alt="wallpaper">
        </div>

        <div class="userDetails">

          <div class="userImg">
            <img src="../../logo.png" alt="userImg">
          </div>

          <div class="userInfo">
            <h2>username</h2>
            <button>add friend</button>
          </div>

        </div>

      </div>

        <div class="allUserPosts">
          <div class="blog_post">
            <div class="img_pod">
              <img class="user-img" src="https://pbs.twimg.com/profile_images/890901007387025408/oztASP4n.jpg" alt="user image">
              <link rel="stylesheet" href="css.css">
            </div>
            <div class="container_copy">
              <div class="userPost">
                <h3>user name</h3>
                <h3>12 January 2019</h3>
              </div>
              <h1>post title</h1>
              <div class="postsContent">
                <p class="post-content">The position property specifies the type of positioning method used for an element (static, relative, absolute, fixed, or sticky).</p>
              </div>
            </div>
            <div class="img-post">
              <img class="post-img" src="../../logo.png" alt="">
            </div>
        
            <div class="inputs-post">
              <div class="votes">
                <button>left</button>
                <p>20</p>
                <button>right</button>
              </div>
        
              <div class="commentsBtnPost">
                <button>comments</button>
              </div>
            </div>
            
          </div>
          <div class="blog_post">
            <div class="img_pod">
              <img class="user-img" src="https://pbs.twimg.com/profile_images/890901007387025408/oztASP4n.jpg" alt="user image">
              <link rel="stylesheet" href="css.css">
            </div>
            <div class="container_copy">
              <div class="userPost">
                <h3>user name</h3>
                <h3>12 January 2019</h3>
              </div>
              <h1>post title</h1>
              <div class="postsContent">
                <p class="post-content">The position property specifies the type of positioning method used for an element (static, relative, absolute, fixed, or sticky).</p>
              </div>
            </div>
            <div class="img-post">
              <img class="post-img" src="../../logo.png" alt="">
            </div>
        
            <div class="inputs-post">
              <div class="votes">
                <button>left</button>
                <p>20</p>
                <button>right</button>
              </div>
        
              <div class="commentsBtnPost">
                <button>comments</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://kit.fontawesome.com/9a8ddb3d78.js" crossorigin="anonymous"></script>
  <script src="../../js/profile.js"></script>
</body>
</html>